.contentBoard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 46px;
    overflow: auto;
}

.findTask {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 63px;
}

.findTaskInput {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    margin-right: 35px;
    height: 50px;
    width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    gap: 10px;
}

.findTaskInput input {
    border: none;
    width: 180px;
    height: 31px;
    border-right: 1px solid #d1d1d1;
    outline: none;
    font-size: 16px;
}

.btn {
    font-size: clamp(16px, 1.8vw, 23px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    height: 51px;
    background: #4589FF;
    border: 1px solid #4589FF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.btn:hover {
    background: #005dff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 125ms ease-in-out;
}

.statusCard {
    width: 100%;
    height: 35vh;
    border-radius: 30px;
    border-color: #3780ff56;
    padding: 10px 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.statusCardHighlight {
    background-color: #3780ff10;
    border-style: dashed;
    border-width: 1px;
}

.removeStatusCardHighlight {
    background-color: #ffffff00;
}

.statusCategories {
    display: flex;
    gap: 35px;
    gap: 40px;
}

.singleCategory {
    display: flex;
    gap: 35px;
    width: 20vw;
    min-height: 480px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.singleCategoryHeader {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    color: #42526E;
}

.singleCategoryHeader img {
    cursor: pointer;
    transition: all 125ms ease-in-out
}

.singleCategoryHeader img:hover {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    transform: rotate(90deg) !important;
}

.taskCard {
    display: flex;
    flex-direction: column;
    padding: 18px 19px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    user-select: none;
}

.taskCard:hover {
    cursor: pointer;
}

.categoryHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 25px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.taskHeadline {
    color: #4589FF;
    font-weight: 700;
}

.btn-blue-AddTask {
    margin-bottom: 16px;
    box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.9);
}

.boxDescription {
    color: #A8A8A8;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 24px;
}

.progressStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 24px;
    gap: 12px;
}

.progress {
    background: #F4F4F4;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    height: 8px;
    width: 100%;
}

.progressCompleted {
    background: #4589FF;
    border-radius: 2px;
    height: 8px;
}

.progressStatus span {
    font-size: 13px;
    white-space: nowrap;
}

.taskFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskContacts {
    display: flex;
    align-items: center;
    width: 93px;
    height: 35px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.box0 {
    order: 0;
}

.box1 {
    order: 1;
    margin: 0px -6px;
}

.boxRest {
    order: 2;
    background: #ff9900;
}

.contact span {
    font-size: 12px;
    color: white;
}

.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all 0.125s, transform 0.125s;
    z-index: -1;

}

.addTaskPopupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 100;
    transition: all 0.125s, transform 0.125s;
    z-index: 500;
}

.popupTaskContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    overflow: auto;
    max-height: 780px;
    padding: 18px 40px;
}


.popupTask {
    position: relative;
    width: 525px;
    max-height: 908px;
    padding: 30px 0px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    top: 100%;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.125s ease-in-out, border-radius 0.125s ease-in-out;
}

.close-btn:hover {
    border-radius: 50%;
    background-color: #E3EEFF;
}

.close-btn:hover svg path {
    fill: "#005DFF";
}

.popupTaskSlideIn {
    animation-name: slideInPopup;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.popupTaskSlideOut {
    animation-name: slideOutPopup;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes slideInPopup {
    from {
        top: 100%;
    }

    to {
        top: 0%;
    }
}

@keyframes slideOutPopup {
    from {
        top: 0%;
    }

    to {
        top: 100%;
    }
}

.containerPopupActive {
    z-index: 9999;
    opacity: 1;
}

.popupContainer .hidePopup {
    opacity: 0;
    pointer-events: none;
}

.popupCategoryHeadline {
    color: #FFF;
    display: inline-block;
    font-size: 23px;
    padding: 4px 24px;
    border-radius: 8px;
}

.subHeadline {
    margin-bottom: 8px;
}

.closePopup {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.closePopupEdit {
    padding: 4px;
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
}

.headlinePopup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupTaskHeadline {
    font-size: clamp(36px, 3vw, 42px);
    ;
    font-weight: 700;
}

.popupBoxDescription {
    font-size: 19px;
}

.popupDivContainer {
    font-size: 19px;
    display: flex;
    gap: 25px;
}

.popupDivContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popupTaskPriority {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.popupSubtaskContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subtask {
    padding: 6px 21px;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}

.popupAssignedToContainer {
    display: flex;
    flex-direction: column;
}

.subHeading {
    color: #42526E;
    font-size: 21px;
    font-weight: 700;
}

.popupAssignedTo {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 7px 16px;
}

.deleteEdit {
    width: 158px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-left: auto;
}

.edit-btn-container {
    height: 60px;
    top: 70vh;
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
    margin-bottom: 60px;
}

.deleteContainer img,
.editContainer img {
    width: 16px;
    height: 18px;
}

.editContainer img {
    padding-left: 3px;
}

.deleteContainer,
.editContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2A3647;
}

.deleteContainer:hover,
.editContainer:hover {
    color: #005DFF;
    font-weight: 700;
}

.addTaskPopupContainer {
    border-radius: 30px 0px 30px 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.dropDownContentEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.dropDownContentEdit:hover {
    background: #D2E3FF;
    cursor: pointer;
}

.popupAddTask {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 518px;
    border-radius: 30px 0px 30px 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    z-index: 999;
    overflow: hidden;
}

.popupAddTaskSlideIn {
    animation-name: slideInPopupAddTask;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.popupAddTaskSlideOut {
    animation-name: slideOutPopupAddTask;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes slideInPopupAddTask {
    from {
        left: 100%;
        /* Startposition - aus dem Sichtbereich schieben */
    }

    to {
        left: calc(100% - 512px);
        /* Endposition - ganz rechts anzeigen */
    }
}

@keyframes slideOutPopupAddTask {
    from {
        left: calc(100% - 512px);
        /* Startposition - ganz rechts anzeigen */
    }

    to {
        left: 100%;
        /* Endposition - aus dem Sichtbereich schieben */
    }
}

.titleAddTask {
    display: flex;
    width: 100%;
    height: 156px;
    padding: 0px 40px;
    align-items: center;
    gap: 49px;
    font-size: 48px;
    font-weight: 700;
}

.boardAddTaskContent {
    display: flex;
    width: 100%;
    height: 100%;
}

.addTaskForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.boardAddTaskSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    gap: 24px;
    align-items: center;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox Scrollleiste ausblenden */
    -ms-overflow-style: none;
}

.boardAddTaskSection::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 1200px) {
    .statusCategories {
        flex-direction: column;
    }

    .taskCard {
        min-width: 250px;
        max-width: 250px;
    }

    .statusCard {
        flex-direction: row;
        width: 100%;
        min-height: 70px;
        height: auto;
    }

    .singleCategory {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        min-height: auto;
        overflow-x: auto;
        gap: 26px;
    }

    .singleCategoryHeader {
        padding-left: 19px;
    }

    ::-webkit-scrollbar {
        height: 8px;
    }
}

@media (max-width: 800px) {
    #doneTasks {
        margin-bottom: 80px;
    }

    .btn-blue-AddTask {
        margin-bottom: 60px;
    }

    .popupTaskContent {
        width: 100%;
        right: 100%;
    }


    .popupAddTask {
        border-radius: 0;
        left: 100%;
        width: 100%;
    }

    @keyframes slideInPopupAddTask {
        from {
            left: 100%;
        }

        to {
            left: 0;
        }
    }

    @keyframes slideOutPopupAddTask {
        from {
            left: 0;
        }

        to {
            left: 100%;
        }
    }
}

@media (max-width: 500px) {
    .btn {
        display: none;
    }
}