body {
    margin: 0;
}

.sidebarContainer {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 66px 20px;
    position: fixed;
    width: 232px;
    height: calc(100vh - 97.3px);
    left: 0px;
    margin-top: 97.3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}

.sideBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 30px;
    height: 50px;
    width: 186px;
    text-decoration: none;
    font-size: 16px;
    color: #42526E;
    gap: 20px;
}

.sideBar:hover {
    background-color: #d2e3ff80;
    border-radius: 0.5em;
}

.navHighlighted {
    background-color: #d2e3ff;
    border-radius: 0.5em;
}

.nav-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@media (max-width: 800px) {
    .legal-information {
        display: none;
    }

    .sidebarContainer {
        margin: 0;
        height: auto;
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 16px 16px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.10);
        z-index: 5;
    }

    .nav-top {
        align-items: center;
        justify-content: center;
        gap: 0;
        flex-direction: row;
    }

    .nav-top img {
        width: 25px;
        height: 25px;
    }

    .sideBar {
        padding: 8px 16px;
        height: auto;
        width: clamp(80px, 19.5vw, 130px);
        gap: 0;
        flex-direction: column;
    }

    .sideBar p {
        font-size: clamp(12px, 3vw, 16px);
        margin: 0;
    }

    main {
        padding-left: 0px;
    }
}

@media (max-width: 500px){
    .sideBar {
        padding: 8px 4px;
    }

    .nav-top img {
        width: 20px;
        height: 20px;
    }
}