* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 61px;
    margin: 0;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

h3{
    margin: 0;
    font-size: 33px;
    font-weight: 700;
}

.d-none {
    display: none !important;
}

.v-none {
    visibility: hidden;
}

.no-opacity {
    opacity: 0 !important;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-left: 232px;
    padding-top: 97.3px;
    width: 100%;
    height: 100%;
}

.buttonBlue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    height: 48px;
    background: #4589ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 23px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    font-weight: 400;
}

.buttonBlue:hover {
    background: #005dff;
    transition: all 125ms ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.buttonWhite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    color: #647188;
    font-size: 23px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    font-weight: 400;
    outline: 1px solid #fff;
    /* Das outline-Attribut fügt eine 2px breite Linie um das Element hinzu */
}

.buttonWhiteDelete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    color: #647188;
    font-size: 23px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    font-weight: 400;
    outline: 1px solid #fff;
    /* Das outline-Attribut fügt eine 2px breite Linie um das Element hinzu */
}

.buttonWhite:hover {
    transition: all 125ms ease-in-out;
    outline: 2px solid #4589ff;
    border: 1px solid #FFF;
    color: #4589ff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.buttonWhiteDelete:hover {
    transition: all 125ms ease-in-out;
    outline: 2px solid #f35010;
    border: 1px solid #FFF;
    color: #f35010;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.navHighlighted {
    background-color: #d2e3ff;
    border-radius: 0.5em;
}

/* Farbe des Scrollbalkens */
::-webkit-scrollbar {
    width: 12px;
    /* Breite des Scrollbalkens */
}

/* Hintergrund des Scrollbalkens */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Griff des Scrollbalkens */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    /* abgerundete Ecken für den Griff */
}

/* Wenn du Hover-Effekte für den Griff möchtest */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.delete-btn {
    z-index: 10;
}

.delete-btn:hover {
    content: url("../../assets/img/functionButtons/deleteHover.png");
}

.containerPopupActive {
    z-index: 9999;
    opacity: 1;
}

.popupContainer .hidePopup {
    opacity: 0;
    pointer-events: none;
}

/* Help */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding: 72px;
    margin-left: 232px;
    margin-top: 97.3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    gap: 48px;
    overflow: auto;
}

.back-arrow{
    position: absolute;
    top: 92.5px;
    right: 75px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.info-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.join-highlight {
    color: #4589FF;
}

.what-is-join{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.what-is-join h3{
    color: #4589FF;
}

.how-to-use-it-content{
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.how-to-use-it-content-sections{
    display: flex;
    gap: 35px;
}

.how-to-use-it-content-sections .subHeadline{
    font-size: 19px;
    color: #005DFF;
    font-weight: 700;
}