* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.d-none {
    display: none !important;
}

.no-opacity {
    opacity: 0 !important;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-left: 232px;
    padding-top: 97.3px;
    width:  100%;
    height: 100%;
}
