.contentBoard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 63px;
    overflow: auto;
}

.findTask {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 63px;
}

.findTaskInput {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    margin-right: 35px;
    height: 50px;
    width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    gap: 10px;
}

.findTaskInput input {
    border: none;
    width: 180px;
    height: 31px;
    border-right: 1px solid #d1d1d1;
    outline: none;
    font-size: 16px;
}

.btn {
    font-size: 23px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    height: 51px;
    background: #4589FF;
    border: 1px solid #4589FF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.btn:hover {
    background: #005dff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 125ms ease-in-out;
}

.statusCard {
    width: 100%;
    min-height: 70vh;
    border-radius: 30px;
    border-color: #3780ff56;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.statusCardHighlight {
    background-color: #3780ff10;
    border-style: dashed;
    border-width: 1px;
}

.removeStatusCardHighlight {
    background-color: #ffffff00;
}

.statusCategories {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 70vh;
    gap: 40px;
}

.singleCategory {
    display: flex;
    gap: 35px;
    width: 25vw;
    min-height: 480px;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.singleCategoryHeader {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    color: #42526E;
}

.singleCategoryHeader img {
    cursor: pointer;
    transition: all 225ms ease-in-out
}

.singleCategoryHeader img:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    transform: rotate(90deg) !important;
}

.taskCard {
    display: flex;
    flex-direction: column;
    padding: 18px 19px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    user-select: none;
}

.taskCard:hover {
    cursor: pointer;
}

.categoryHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 25px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.taskHeadline {
    color: #4589FF;
    font-weight: 700;
    margin-bottom: 10px;
}


.boxDescription {
    color: #A8A8A8;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 24px;
}

.progressStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 8px;
    gap: 12px;
}

.progress {
    background: #F4F4F4;
    border-radius: 2px;
    height: 8px;
    width: 100%;
}

.progressCompleted {
    background: #4589FF;
    border-radius: 2px;
    height: 8px;
}

.progressStatus span {
    font-size: 13px;
    white-space: nowrap;
}

.taskFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskContacts {
    display: flex;
    align-items: center;
    width: 93px;
    height: 35px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.box0 {
    order: 0;
}

.box1 {
    order: 1;
    margin: 0px -6px;
}

.boxRest {
    order: 2;
    background: #ff9900;
}

.contact span {
    font-size: 12px;
    color: white;
}

.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all 0.3s, transform 0.3s;
    z-index: -1;
}

.popupTaskContent {
    overflow: auto;
    scrollbar-width: thin;
    height: 100%;
    padding: 20px 50px;
}


.popupTask {
    position: relative;
    width: 622px;
    height: 818px;
    padding: 30px 0px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    top: 100%;
}

.popupTaskSlideIn {
    animation-name: slideInPopup;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.popupTaskSlideOut {
    animation-name: slideOutPopup;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes slideInPopup {
    from {
        top: 100%;
    }

    to {
        top: 0%;
    }
}

@keyframes slideOutPopup {
    from {
        top: 0%;
    }

    to {
        top: 100%;
    }
}

.containerPopupActive {
    z-index: 9999;
    opacity: 1;
}

.popupContainer .hidePopup {
    opacity: 0;
    pointer-events: none;
}



.popupCategoryHeadline {
    color: #FFF;
    display: inline-block;
    font-size: 23px;
    padding: 4px 36.5px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.popupTaskHeadline {
    font-size: clamp(48px, 3vw, 61px);
    ;
    font-weight: 700;
    margin-bottom: 25px;
}

.popupBoxDescription {
    font-size: 21px;
}

.popupDivContainer {
    margin-top: 25px;
    font-size: 21px;
    display: flex;
    gap: 25px;
}

.popupDivContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popupTaskPriority {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupSubtaskContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subtask {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
}

.popupAssignedToContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;
}


.popupAssignedTo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.deleteEdit {
    display: flex;
    width: 114px;
    height: 57px;
    position: absolute;
    right: 50px;
    bottom: 42px;
}

.edit-btn-container {
    margin-top: 25px;
    height: 60px;
    top: 70vh;
    display: flex;
    justify-content: end;
    width: 60%;
    gap: 25px;
}


.editContainer {
    background: url("../../assets/img/functionButtons/editButton.png") center no-repeat;
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background-color: #4589FF;
    border: 1px solid #4589FF;
    cursor: pointer;
}

.deleteContainer {
    background: url("../../assets/img/functionButtons/deleteButton.png") center no-repeat;
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #4589FF;
    cursor: pointer;
}

.deleteContainer:hover {
    background-image: url("../../assets/img/functionButtons/deleteButtonHover.png");
}

.editContainer:hover,
.deleteContainer:hover {
    background-color: #005DFF;
    border: 1px solid #005DFF;
}



/* #4589FF */
.addTaskPopupContainer {
    border-radius: 30px 0px 30px 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}