body {
    margin: 0;
}

.sidebarContainer {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 66px 20px;
    position: fixed;
    width: 232px;
    height: calc(100vh - 97.3px);
    left: 0px;
    top: 97.3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}

.sideBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 30px;
    height: 50px;
    width: 186px;
    text-decoration: none;
    font-size: 16px;
    color: #42526E;
    margin-bottom: 10px;
    gap: 20px;
}

.sideBar:hover {
    background-color: #d2e3ff80;
    border-radius: 0.5em;
}

.legal-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 50px;
    width: 200px;
    cursor: pointer;
}


.legal-information a,
.legal-information a:link,
.legal-information a:visited {
    color: #42526E;
    text-decoration: none;
    padding: 8px;
}

.legal-information a:hover{
    color: #005DFF;
}

.navHighlighted {
    background-color: #d2e3ff;
    border-radius: 0.5em;
}