
.header {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 39px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 97.3px;
    background: #4589FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headerRightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    color: white;
    font-size: 19px;
}

.accountInfo {
    border-radius: 40px;
    background-color: white;
    width: 49px;
    height: 49px;
}