body {
    user-select: none;
}

.addTaskContent {
    display: flex;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 39.7px 63px 63px;
}

.addTaskSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 422px;
    height: 80vh;
}

::placeholder {
    color: #D1D1D1;

}

.enterTitle {
    font-size: 40px;
    border-bottom: 1px solid #D1D1D1;
    padding: 10px 21px;
    cursor: pointer;
    margin-bottom: 25px;
}

.enterTitle input {
    font-size: 40px;
}

input {
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.selectContacts,
.selectCategory {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    padding: 10px 21px;
    border-bottom: 1px solid #D1D1D1;
    width: 100%;
    font-weight: 400;
    cursor: pointer;
}

.dueDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    color: #42526E;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 40px;
}

.dateContainer {
    display: flex;
    color: #D1D1D1;
    font-size: 19px;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    padding: 10px 21px;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    cursor: pointer;
}

.dateContainer input {
    height: 100%;
    font-size: 19px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    color: #42526E;
    font-weight: 700;
    font-size: 19px;
}


.priorityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 25px;
}

.priority {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
}

.priorityUrgent:hover {
    border: 2px solid #ff3d00;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}


.priorityMedium:hover {
    border: 2px solid #FFA800;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.priorityLow:hover {
    border: 2px solid #7AE229;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.descriptionContainer {
    color: #42526E;
    font-weight: 700;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 154px;
    margin-bottom: 25px;
}

#description {
    font-family: 'Open Sans';
    border: 1px solid #D1D1D1;
    border-radius: 0px 10px 10px 10px;
    width: 422px;
    height: 103px;
    resize: none;
    font-size: 19px;
    padding: 18px 21px;
}

.subtaskContainer {
    display: flex;
    align-items: center;
    color: #42526E;
    font-weight: 700;
    font-size: 19px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 25px;
}

.addSubtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 21px;
    width: 100%;
    cursor: pointer;
}

.subtaskContainer input {
    font-size: 19px;
}

.subtasks {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 45px;
}

.btn-container {
    position: sticky;
    height: 60px;
    top: 73.5vh;
    display: flex;
    justify-content: end;
    width: 60%;
    gap: 25px;
}

.btn-blue {
    width: 180px;
    height: 60px;
    font-size: 23px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    background: #4589FF;
    border: 1px solid #4589FF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.btn-blue:hover {
    background: #005dff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 125ms ease-in-out;
}

.btn-white {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    color: #647188;
    border: 1px solid #647188;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.btn-white:hover {
    color: #4589FF;
    width: 136px;
    height: 61px;
    background: #FFFFFF;
    border: 2px solid #4589FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.dropDownContainer {
    font-size: 19px;
    width: 100%;
    margin-bottom: 25px;
}

.dropdown-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 51px;
    padding: 18px 21px;
    cursor: pointer;
}

.circle-content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 51px;
    padding: 18px 21px;
    cursor: pointer;
    gap: 20px;
}

.dropdown-content:hover {
    background: #D2E3FF;
    cursor: pointer;
}

.colorCircle {
    width: 20px;
    height: 20px;
    
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.colorCircleActive{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorCircle:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#currentCategory{
    display: flex;
    align-items: center;
    gap: 10px;
}

