<div class="info-headline">
    <h1>Help</h1>
    <div class="back-arrow" id="back-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
            <path
                d="M10.9373 15.1667H25.8333C26.5696 15.1667 27.1666 15.7637 27.1666 16.5001C27.1666 17.2364 26.5696 17.8334 25.8333 17.8334H10.9373L17.1466 24.0427C17.6672 24.5634 17.6672 25.4074 17.1466 25.9281C16.626 26.4487 15.7819 26.4487 15.2613 25.9281L7.24746 17.9143C6.46642 17.1332 6.46642 15.8669 7.24747 15.0858L15.2613 7.07206C15.7819 6.55144 16.626 6.55144 17.1466 7.07206C17.6672 7.59268 17.6672 8.43677 17.1466 8.95739L10.9373 15.1667Z"
                fill="#005DFF" />
        </svg>
    </div>
    <div class="hover-svg d-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
            <rect y="0.96582" width="32" height="32" rx="16" fill="#E3EEFF" />
            <path
                d="M8.70752 15.6325H26.1981C26.9345 15.6325 27.5314 16.2295 27.5314 16.9659C27.5314 17.7023 26.9345 18.2992 26.1981 18.2992H8.70752L14.9169 24.5085C15.4375 25.0292 15.4375 25.8733 14.9168 26.3939C14.3962 26.9145 13.5521 26.9145 13.0315 26.3939L5.01773 18.3801C4.23668 17.599 4.23668 16.3327 5.01773 15.5517L13.0315 7.53788C13.5521 7.01726 14.3962 7.01726 14.9168 7.53788C15.4375 8.0585 15.4375 8.90259 14.9168 9.42322L8.70752 15.6325Z"
                fill="#4589FF" />
        </svg>
    </div>

</div>
<div class="info-content">
    <span>Welcome to the help page for <span class="join-highlight">Join</span>, your guide to using our kanban project
        management tool. Here, we'll provide an overview of what <span class="join-highlight">Join</span> is, how it can
        benefit you, and how to use it.</span>
    <div class="what-is-join">
        <h3>What is Join?</h3>
        <span>
            <span class="join-highlight">Join</span> is a kanban-based project management tool designed and built by a
            group of dedicated students as part
            of their web development bootcamp at the Developer Akademie. <br><br>
            Kanban, a Japanese term meaning "billboard", is a highly effective method to visualize work, limit
            work-in-progress, and maximize efficiency (or flow). <span class="join-highlight">Join</span> leverages the
            principles of kanban to help users
            manage their tasks and projects in an intuitive, visual interface.<br><br>
            It is important to note that <span class="join-highlight">Join</span> is designed as an educational exercise
            and is not intended for extensive
            business usage. While we strive to ensure the best possible user experience, we cannot guarantee consistent
            availability, reliability, accuracy, or other aspects of quality regarding <span
                class="join-highlight">Join</span>.
        </span>
        <h3>How to use it</h3>
        <span>Here is a step-by-step guide on how to use <span class="join-highlight">Join</span>:</span>
        <div class="how-to-use-it-content">
            <div class="how-to-use-it-content-sections">
                <h3>1.</h3>
                <div>
                    <div class="subHeadline">Exploring the Board</div>
                    <span>When you log in to <span class="join-highlight">Join</span>, you'll find a default board. This
                        board represents your project and contains four default lists: "To Do", "In Progress", “Await
                        feedback” and "Done". </span>
                </div>
            </div>

            <div class="how-to-use-it-content-sections">
                <h3>2.</h3>
                <div>
                    <div class="subHeadline">Creating Contacts</div>
                    <span>In <span class="join-highlight">Join</span>, you can add contacts to collaborate on your
                        projects. Go to the "Contacts" section, click on "New contact", and fill in the required
                        information. Once added, these contacts can be assigned tasks and they can interact with the
                        tasks on the board.</span>
                </div>
            </div>

            <div class="how-to-use-it-content-sections">
                <h3>3.</h3>
                <div>
                    <div class="subHeadline">Adding Cards</div>
                    <span>Now that you've added your contacts, you can start adding cards. Cards represent individual
                        tasks. Click the "+" button under the appropriate list to create a new card. Fill in the task
                        details in the card, like task name, description, due date, assignees, etc.</span>
                </div>
            </div>

            <div class="how-to-use-it-content-sections">
                <h3>4.</h3>
                <div>
                    <div class="subHeadline">Moving Cards</div>
                    <span>As the task moves from one stage to another, you can reflect that on the board by dragging and
                        dropping the card from one list to another.</span>
                </div>
            </div>

            <div class="how-to-use-it-content-sections">
                <h3>5.</h3>
                <div>
                    <div class="subHeadline">Deleting Cards</div>
                    <span>
                        Once a task is completed, you can either move it to the "Done" list or delete it. Deleting a
                        card will permanently remove it from the board. Please exercise caution when deleting cards, as
                        this action is irreversible.<br><br>
                        Remember that using <span class="join-highlight">Join</span> effectively requires consistent
                        updates from you and your team to
                        ensure the board reflects the current state of your project.<br><br>
                        Have more questions about <span class="join-highlight">Join</span>? Feel free to contact us at
                        [Your Contact Email]. We're here to
                        help you!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h3 style="color: #4589FF;">Enjoy using Join!
    </h3>
</div>